In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [2]:
csv_city = "../Week-05-Matplotlib/Instructions/Pyber/raw_data/city_data.csv"
csv_ride = "../Week-05-Matplotlib/Instructions/Pyber/raw_data/ride_data.csv"

city_df = pd.read_csv(csv_city)
ride_df = pd.read_csv(csv_ride)

# Output File Names
file_output_city_csv = "generated_data/city_data.csv"
file_output_rides_csv = "generated_data/ride_data.csv"

In [3]:
#All the random code I didn't use + some preface to make *most of* it work

#add city type to ride df/combine useful info from dfs. 
#I'm sure there's a faster way, but I didn't feel like dealing with floats while trying to concatenate
city2 = ride_df["city"]
date = ride_df["date"]
fare = ride_df["fare"]
type1 = city_df["type"]
driver = city_df["driver_count"]
ride = ride_df["ride_id"]

df_pyber1 = pd.DataFrame({"City": city2,
                           "Date": date,
                           "Fare": fare,
                             "Type": type1,
                             "Driver_count": driver,
                             "Ride_id": ride},
                           columns = ["City", "Date", "Fare", "Type", "Driver_count", "Ride_id"])
df_pyber1

,City,Date,Fare,Type,Driver_count,Ride_id
0,Sarabury,2016-01-16 13:49:27,38.35,Urban,63.0,5403689035038
1,South Roy,2016-01-02 18:42:34,17.49,Urban,8.0,4036272335942
2,Wiseborough,2016-01-21 17:35:29,44.18,Urban,12.0,3645042422587
3,Spencertown,2016-07-31 14:53:22,6.87,Urban,34.0,2242596575892
4,Nguyenbury,2016-07-09 04:42:44,6.28,Urban,52.0,1543057793673
5,New Jeffrey,2016-02-22 18:36:25,36.01,Urban,4.0,9757888452346
6,Port Johnstad,2016-06-07 02:39:58,17.15,Urban,70.0,4352278259335
7,Jacobfort,2016-09-20 20:58:37,22.98,Urban,37.0,1500221409082
8,Travisville,2016-01-15 17:32:02,27.39,Urban,70.0,850152768361
9,Sandymouth,2016-11-16 07:27:00,21.61,Urban,66.0,2389035050524
10,New Andreamouth,2016-04-11 07:20:48,7.72,Urban,34.0,9992929847990
11,New Christine,2016-09-13 15:06:42,24.89,Urban,67.0,7918411468537
12,Stewartview,2016-03-29 05:15:56,23.88,Urban,55.0,6778235889588
13,Rodriguezburgh,2016-09-05 05:20:39,4.54,Urban,28.0,9650770953139
14,West Sydneyhaven,2016-08-02 21:18:44,12.87,Urban,15.0,7994760397230
15,Swansonbury,2016-07-11 18:42:11,39.30,Urban,12.0,744481862626
16,Lisatown,2016-07-05 18:09:14,5.82,Urban,61.0,6370359473201
17,East Erin,2016-11-03 01:03:05,7.51,Urban,13.0,4744239092530
18,Port Martinberg,2016-01-06 17:11:30,8.66,Urban,67.0,7298562820881
19,Wiseborough,2016-09-12 18:43:41,26.83,Urban,46.0,9304728540000
20,Edwardsbury,2016-02-27 03:55:54,20.17,Urban,7.0,8514523868075
21,Jacobfort,2016-06-12 17:01:29,34.47,Urban,11.0,4135673527977
22,Pamelahaven,2016-03-26 12:56:57,36.43,Urban,42.0,3015329826849
23,Fosterside,2016-08-12 11:52:41,28.08,Urban,31.0,133077693483
24,Jacobfort,2016-09-17 12:38:58,38.25,Urban,41.0,2182376146051
25,West Sydneyhaven,2016-08-23 14:49:59,36.12,Urban,70.0,5885997568611
26,West Alexis,2016-01-16 00:33:02,26.62,Urban,47.0,1574788996743
27,Carrollfort,2016-06-24 20:11:11,6.45,Urban,60.0,1092683495142
28,New David,2016-01-12 20:48:43,38.68,Urban,64.0,5229089333754
29,Stewartview,2016-10-15 05:26:40,11.74,Urban,69.0,8402784599831
...,...,...,...,...,...,...
2345,West Kevintown,2016-06-15 19:53:16,13.50,NaN,NaN,9577921579881
2346,Matthewside,2016-02-23 00:43:51,40.84,NaN,NaN,8665248512368
2347,Erikport,2016-11-26 04:39:52,44.21,NaN,NaN,9598643212986
2348,Kinghaven,2016-07-23 08:23:50,46.08,NaN,NaN,8440329717166
2349,Hernandezshire,2016-02-24 17:30:44,44.68,NaN,NaN,6389115653382
2350,Kennethburgh,2016-01-01 04:31:43,33.53,NaN,NaN,5149088250183
2351,Stevensport,2016-02-22 02:45:07,19.91,NaN,NaN,808097865942
2352,South Elizabethmouth,2016-11-23 07:47:18,46.39,NaN,NaN,1939838068038
2353,East Stephen,2016-07-30 21:25:01,35.39,NaN,NaN,1107870956099
2354,Jacksonfort,2016-10-01 13:41:00,34.17,NaN,NaN,7750597960630
2355,Kennethburgh,2016-04-30 20:44:27,23.58,NaN,NaN,4524301143267
2356,Horneland,2016-03-25 02:05:42,20.04,NaN,NaN,5729327140644
2357,Shelbyhaven,2016-01-25 01:39:16,59.43,NaN,NaN,8088329954312
2358,Erikport,2016-08-03 21:19:11,47.67,NaN,NaN,9201708664049
2359,Kennethburgh,2016-11-19 06:59:31,18.37,NaN,NaN,5897895798960
2360,Jacksonfort,2016-10-20 16:42:54,37.75,NaN,NaN,4356781814784
2361,South Joseph,2016-10-15 03:53:06,32.50,NaN,NaN,2758038144583
2362,Matthewside,2016-05-18 02:00:30,48.67,NaN,NaN,2049161404256
2363,Matthewside,2016-08-08 14:02:35,24.97,NaN,NaN,2872494724827
2364,South Joseph,2016-10-28 09:52:15,25.34,NaN,NaN,6706101910500
2365,South Elizabethmouth,2016-07-19 09:35:59,31.09,NaN,NaN,2959749591417
2366,North Whitney,2016-11-11 16:24:16,22.99,NaN,NaN,3454326063039
2367,New Johnbury,2016-08-29 02:36:06,18.83,NaN,NaN,7368222134792
2368,East Leslie,2016-06-22 07:45:30,34.54,NaN,NaN,684950063164
2369,Kennethburgh,2016-06-07 11:43:43,56.02,NaN,NaN,311733202150
2370,West Kevintown,2016-02-10 00:50:04,34.69,NaN,NaN,9595491362610
2371,East Troybury,2016-03-14 01:55:32,38.80,NaN,NaN,9205811495606
2372,North Whitney,2016-01-26 01:06:41,34.92,NaN,NaN,4165974278063
2373,South Joseph,2016-09-28 07:30:55,12.55,NaN,NaN,4336212615821
2374,South Elizabethmouth,2016-04-21 10:20:09,16.50,NaN,NaN,5702608059064

In [4]:
total_ride = len(df_pyber1["Ride_id"])
total_ride

2375

In [5]:
#find ride stats
total_ride = len(df_pyber1["Ride_id"])
rural_ride = len((df_pyber1["Ride_id"].loc[df_pyber1["Type"] == "Rural"]))
suburban_ride = len((df_pyber1["Ride_id"].loc[df_pyber1["Type"] == "Suburban"]))
urban_ride = len((df_pyber1["Ride_id"].loc[df_pyber1["Type"] == "Urban"]))
print(total_ride, rural_ride, suburban_ride, urban_ride)

2375 18 42 66

In [6]:
#Set up placeholders for new content
Avg_rides_city = []
total_rides_city = []
total_driver = []

In [7]:
#Set up percent calcs
total_fare = df_pyber1["Fare"].count()
total_driver = df_pyber1["Driver_count"].count()
total_ride = len(df_pyber1["Ride_id"])

#Fare percent calcs
rural_fare = (df_pyber1["Fare"].loc[df_pyber1["Type"] == "Rural"]).value_counts()
rural_fare_percent = (rural_fare/total_fare) * 100
suburban_fare = (df_pyber1["Fare"].loc[df_pyber1["Type"] == 'Suburban']).value_counts()
suburban_fare_percent = (suburban_fare/total_fare) * 100
urban_fare = (df_pyber1["Fare"].loc[df_pyber1["Type"] == 'Urban']).value_counts()
urban_fare_percent = (urban_fare/total_fare) * 100

#driver percent calcs
rural_driver = (df_pyber1["Driver_count"].loc[df_pyber1["Type"] == "Rural"]).value_counts()
rural_driver_percent = (rural_driver/total_driver) * 100
suburban_driver = (df_pyber1["Driver_count"].loc[df_pyber1["Type"] == 'Suburban']).value_counts()
suburban_driver_percent = (suburban_driver/total_driver) * 100
urban_driver = (df_pyber1["Driver_count"].loc[df_pyber1["Type"] == 'Urban']).value_counts()
urban_driver_percent = (urban_driver/total_driver) * 100

#ride percent calcs
rural_ride = len((df_pyber1["Ride_id"].loc[df_pyber1["Type"] == "Rural"]))
rural_ride_percent = (rural_ride/total_ride) * 100
suburban_ride = len((df_pyber1["Ride_id"].loc[df_pyber1["Type"] == "Suburban"]))
suburban_ride_percent = (suburban_ride/total_ride) * 100
urban_ride = len((df_pyber1["Ride_id"].loc[df_pyber1["Type"] == "Urban"]))
urban_ride_percent = (urban_ride/total_ride) * 100

#rural_driver

In [8]:
#create new df with calculations from pyber1
# Need: % of Total Fares, rides, drivers by City Type

df_pyber2 = pd.DataFrame({"%_Rural_Fares": rural_fare_percent,
                           "%_Suburban_Fares": suburban_fare_percent,
                           "%_Urban_Fares": urban_fare_percent,
                             "%_Rural_Drivers": rural_driver_percent,
                             "%_Suburban_Drivers": suburban_driver_percent,
                              "%_Urban_Drivers": urban_driver_percent,
                             "%_Rural_Rides": rural_ride_percent,
                              "%_Suburban_Rides": suburban_ride_percent,
                             "%_Urban_Rides": urban_ride_percent},
                           columns = ["%_Rural_Fares", "%_Suburban_Fares", "%_Urban_Fares", "%_Rural_Drivers", "%_Suburban_Drivers", "%_Urban_Drivers", "%_Rural_Rides", "%_Suburban_Rides", "%_Urban_Rides"])
df_pyber2.head()

,%_Rural_Fares,%_Suburban_Fares,%_Urban_Fares,%_Rural_Drivers,%_Suburban_Drivers,%_Urban_Drivers,%_Rural_Rides,%_Suburban_Rides,%_Urban_Rides
1.00,NaN,NaN,NaN,NaN,0.793651,NaN,0.757895,1.768421,2.778947
3.00,NaN,NaN,NaN,4.761905,0.793651,NaN,0.757895,1.768421,2.778947
4.00,NaN,NaN,NaN,0.793651,1.587302,0.793651,0.757895,1.768421,2.778947
4.54,NaN,NaN,0.042105,NaN,NaN,NaN,0.757895,1.768421,2.778947
5.00,NaN,NaN,NaN,0.793651,1.587302,NaN,0.757895,1.768421,2.778947

In [9]:
total_drivers = len(df_pyber1["Driver_count"])
total_drivers

2375

In [10]:
total_rides = len(df_pyber1["Ride_id"])
total_rides

2375

In [11]:
fare_pyber = ride_df["fare"]
fare_pyber.head()

0    38.35
1    17.49
2    44.18
3     6.87
4     6.28
Name: fare, dtype: float64

In [12]:
avg_fare = df_pyber1["Fare"].mean()
avg_fare

26.80055157894731

In [ ]:
r_city2 = df_rides["City"].loc[df_rides["Type"] == "Rural"]
r_fare = df_rides["Fare"].loc[df_rides["Type"] == "Rural"]
r_ride = df_rides["Ride_id"].loc[df_rides["Type"] == "Rural"]
r_type = df_rides.loc[df_rides["Type"] == "Rural"]

df_rural_rides = pd.DataFrame({"City": r_city2,
                           "Fare": r_fare,
                             "Type":ride_df1,
                             "Driver_Count":driver_df1,
                             "Ride_id": r_ride},
                           columns = ["City", "Fare", "Type", "Driver_Count", "Ride_id"])
df_rural_rides.head()

In [ ]:
# Add urban city data
df.plot(kind='scatter', x= 'Total Number of Rides Per City', 
                         y= "Average Fare ($) Per City", color = "lightcoral",edgecolors="black", 
                         grid=True,  figsize=(20,10), s=total_city_calcs_df["Total Number of Drivers Per City"]*10,  
                         legend = True, label = "Urban"
                        )

# Add suburban city data
df.plot(kind='scatter', x= 'Total Number of Rides Per City', 
                         y= "Average Fare ($) Per City", color = "lightskyblue",edgecolors="black", 
                         grid=True, figsize=(20,10),  s=total_city_calcs_df["Total Number of Drivers Per City"]*10,  
                         legend = True, label = "Suburban", ax = main_plot
                        )

#Add rural city dataframe 
df.plot(kind='scatter', x= 'Total Number of Rides Per City', 
                         y= "Average Fare ($) Per City", color = "gold",edgecolors="black", 
                         grid=True, figsize=(20,10),  s=total_city_calcs_df["Total Number of Drivers Per City"]*10,  
                         legend = True, label = "Rural", ax = main_plot,
                        )

# Printing the labels and titles with their respective font sizes
plt.xlabel('Total Number of Rides Per City', fontsize = 14)
plt.ylabel("Average Fare ($) Per City", fontsize = 14)
plt.title("Pyber Ride Data", fontsize = 18)


# Show the plot
plt.show()